<div class="container" style="padding: 65px 0 20px 0" >
    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
    
    <div class="row">
        <div class="menu">
            <div class="name">Holiday Planner</div>
        </div>
        
        <ol class="chat">
            <li ng-repeat="chatItem in chat.items" ng-class="{1: 'other', 2: 'self'}[chatItem.type]">
                <div class="avatar"><img src="http://i.imgur.com/DY6gND0.png" draggable="false"/></div>
                <div class="msg">
                    <p>{{chatItem.message}}</p>
                    <time>{{chatItem.time}}</time>
                </div>
            </li>
    </ol>
    <input class="textarea" type="text" placeholder="Type here!" ng-model="userMessage" ng-keydown="$event.which === 13 && sendMessage(userMessage)"/><div class="emojis"></div>
</div>

<date-modal></date-modal>