<div class="container" style="padding: 65px 0 20px 0" >
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" click="onClick">
                <ui-gmap-windows show="show">
                    <div ng-non-bindable>
                        <b>{{title}}</b><br />
                        {{description}} <br />
                        {{status}} <br />
                        {{price}}
                    </div>
                </ui-gmap-windows>
            </ui-gmap-markers>
    </ui-gmap-google-map>
    
    <div class="row">
        <div class="menu">
            <div class="name">Holiday Planner</div>
        </div>
        
        <ol class="chat" id="chatDiv">
            <li ng-repeat="chatItem in chat.items" ng-class="{1: 'other', 2: 'self'}[chatItem.type]">
                <div class="avatar"><img ng-src="{{chatItem.type == 1 ? 'css/images/avatar_new.png' : 'css/images/download.png'}}" draggable="false"/></div>
                <div class="msg" stlyle="overflow-x: auto;">
                    <p>{{chatItem.message}}</p>
                    <table class="table" ng-if="chatItem.weather">
                        <thead>
                          <tr>
                            <th ng-repeat="day in chatItem.weather" style="min-width: 200px;">{{day.date.day}}/{{day.date.month + 1}}/{{day.date.year}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td ng-repeat="day in chatItem.weather">
                                <img ng-src="css/images/{{day.type}}.png" style="width: 50px"></img>
                                <span>{{day.summary}}</span>
                                <div>Min temperature: {{day.minTemperature | number:0}}°C</div>
                                <div>Max temperature: {{day.maxTemperature | number:0}}°C</div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    <time>{{chatItem.time}}</time>
                </div>
            </li>
    </ol>
    <input class="textarea" type="text" placeholder="Type here!" ng-model="userMessage" ng-keydown="$event.which === 13 && sendMessage(userMessage, 1)"/><div class="emojis"></div>
</div>

<date-modal></date-modal>
<subcategory-modal></date-modal>