<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Holiday Planner</title>

    <link rel="stylesheet" type="text/css" href="./Content/Core/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./Content/Core/Bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="./Content/Core/FontAwesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./Content/Core/JQuery-UI/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body style="overflow-x: hidden" ng-app="app">

    <div ng-view>
</div>

<script type="text/javascript" src="./Core/JQuery/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="./Core/JQuery-UI/jquery-ui.min.js"></script>
<script type="text/javascript" src="./Core/Bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="./Core/AngularJS/angular.js"></script>
<script type="text/javascript" src="./Core/AngularJS/angular-route.js"></script>
<script type="text/javascript" src="./Core/AngularJS/angular-resource.js"></script>
<script type="text/javascript" src="./Core/AngularJS/angular-sanitize.js"></script>
<script type="text/javascript" src="./Core/AngularJS/angular-cookies.js"></script>
<script type="text/javascript" src="./Core/AngularJS/angular-animate.js"></script>
<script type="text/javascript" src="./Core/AngularJS/angular-touch.js"></script>
<script type="text/javascript" src="./Core/AngularJS/angular-simple-logger.js"></script>
<script type="text/javascript" src="./Core/Lodash/lodash.js"></script>
<script type="text/javascript" src="./Core/AngularJS/angular-google-maps.js"></script>
<script type="text/javascript" src="./Core/Bootstrap/ui-bootstrap-tpls-0.13.0.min.js"></script>
<script type="text/javascript" src="./Core/Moment/moment.min.js"></script>
<script type="text/javascript" src="./Core/Underscore/underscore-min.js"></script>
<script type="text/javascript" src="./Application/app.js"></script>
<script type="text/javascript" src="./Application/services.js"></script>
<script type="text/javascript" src="./Application/directives.js"></script>
<script type="text/javascript" src="./Application/Home/HomeController.js"></script>


</body>
</html>

